Doctype 
  html
     head
         title Home | Movie Reviews
         //- script(src="/src/views/changeTheme.js")
         style 
            include styles.css   
     body(class="light")
         //- navigation
         .navbar
            a.active Home 
            a Reviews
            a 
               button(type="button" onclick="switchTheme()") Toggle Theme

         //- main 
         .main_body
            .header
               h1 Welcome to Movie Reviews 
               p.first_paragraph Have you ever wanted to rant about your favorite movies? Well, now's your chance...

            .main 
               h4.sign_up Sign Up
               form
                  .field
                     input(type="email" name="email" class="input" placeholder="")
                     label(for="email" class="label") Email
                  .field
                     input(type="password" name="password" class="input" placeholder="")
                     label(for="password" class="label") Password
                     

         

         //- small script to change themes
         script.
            const body = document.body;
            const theme = localStorage.getItem('theme');

            if(theme){
               body.classList.add(theme);
            } 

            function switchTheme(){
               if(body.classList.contains('light')){
                  body.classList.replace('light', 'dark');
                  localStorage.setItem('theme', 'dark');
               } else if(body.classList.contains('dark')){ 
                  body.classList.replace('dark', 'light');
                  localStorage.setItem('theme', 'light');
               }
            };
         script
         //- =======

         