* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* === Main === */

.main {
  height: 100vh;
  border: 20px solid rgb(0, 0, 0);

  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
}

.child1 {
  width: 400px;
  height: 200px;
  background: rgb(39, 61, 134);
  margin: 1rem;
}

.child2 {
  width: 400px;
  height: 200px;
  background: rgb(172, 57, 53);
  margin: 1rem;
}

.child3 {
  width: 400px;
  height: 200px;
  background: rgb(149, 43, 140);
  margin: 1rem;
}

.child4 {
  width: 400px;
  height: 200px;
  background: rgb(100, 240, 100);
  margin: 1rem;
}

/* ===== Adding Svg to themeButton ===== */
.themeswitch_button {
  width: 40px;
  height: 40px;
}

.themeswitch_button svg {
  width: 35px;
  height: 35px;
}

/* === Theme Switcher === */
.light {
  --bg: var(--gray0);
  --bg-darker: var(--gray1);
  --text: var(--gray6);
  --border-color: var(--blue);
}

.dark {
  --bg: var(--gray5);
  --bg-darker: var(--gray6);
  --text: var(--gray0);
  --border-color: var(--purple);
}
